*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}


.nav-link:focus {
  background-color: #f2efea !important;
}

span{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
}
