.customTable {
  background-color: #f9f9f9;
}

.customTr {
  background-color: #f2efea;
}

.customTd, .customTh {  /* Cambio global a clases */
  background-color: inherit;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 14px;
  border-top: 1px solid rgba(216, 221, 226, 0.8667);
  border-bottom: 1px solid rgba(216, 221, 226, 0.8667);
  border-left: none;
  border-right: none;
}

.customTd {
  color: #636D84;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.customBtn {
  cursor: pointer;
}

.customBtn:hover {
  background-color: #f8f9fa;
}
  